# Eclipse / STM32CubeIDE
.metadata/
.settings/
.project
.cproject
*.launch
*.log

# Build folders
build/
Debug/
Release/

# CubeMX temp
*.mxproject

# Compiled files
*.o
*.d
*.elf
*.map
*.hex

# Temporary files
*.tmp
*.bak

